.container {
    max-width: 800px;
    margin-top: 20px;
  }
  
  .movie-card {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .movie-card img {
    margin-left: 1rem;
  }
  
  .btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }
  