<div *ngIf="movieDetails" class="container mt-4">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://image.tmdb.org/t/p/original/{{ movieDetails.poster_path }}" class="img-fluid rounded-start" alt="{{ movieDetails.title }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ movieDetails.title }}</h5>
          <p class="card-text">{{ movieDetails.overview }}</p>

          <div class="row">
            <div class="col-6">
              <p><strong>Budget:</strong> {{ movieDetails.budget }}</p>
              <p><strong>Release Date:</strong> {{ movieDetails.release_date }}</p>
            </div>
            <div class="col-6">
              <p><strong>Revenue:</strong> {{ movieDetails.revenue }}</p>
              <p><strong>Vote Average:</strong> {{ movieDetails.vote_average }}</p>
              <p><strong>Vote Count:</strong> {{ movieDetails.vote_count }}</p>
            </div>
          </div>

          <div>
            <p><strong>Spoken Languages:</strong></p>
            <ul class="list-unstyled">
              <li *ngFor="let spoken_language of movieDetails.spoken_languages">{{ spoken_language.english_name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
